@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="banner-home">
        <style>

            main > .container {
                margin: 0;
                padding: 0;
                max-width: 100%;
                margin-top: 0 !important;
            }
        
        </style>
        <div class="container">
            <div class="title">
                <h2>
                    Um novo jeito
                </h2>
                <h2>de gerenciar </h2>
                <h2>novos colaboradores</h2>
            </div>
        </div>
        <div class="background-black-03">
        </div>
    </div>

</div>